html {
  -webkit-animation: 0.4s ease fade;
  animation: 0.4s ease fade;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 1 !important;
  }
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 1 !important;
  }
}

:root {
  --background: #fdfdfd;
  --darkerBg: #fdfdfd;
  --lighterBg: #fdfdfd;
  --foreground: #292929;
  --primary: #fdfdfd;
  --selBg: #0f0f0f;
  --selBgAlpha: #546e7a70;
  --selFg: #0f0f0f;
  --button: #2e3c43;
  --second: #32424a;
  --disabled: #415967;
  --contrast: #1e272c;
  --active: #314549;
  --border: #dbdbdb;
  --highlight: #c2c2c2;
  --tree: #546e7a70;
  --notif: #1e272c;
  --accent1: #292929;
  --accentAlpha: #292929e1;
  --excluded: #2e3c43;
  --excludedAlpha: #2e3c4340;
  --accent2: #80cbc4;
  --accent2Alpha: #80cbc480;
  --accent3: #ff4081;
  --tag-name-color: #f07178;
  --attribute-name-color: #ffcb6b;
  --comment-color: #546e7a;
  --keyword-color: #c792ea;
  --error-color: #ff5370;
  --var-color: #eeffff;
  --operator-color: #89ddff;
  --function-color: #82aaff;
  --string-color: #c3e88d;
  --number-color: #f78c6c;
  --link-color: #80cbc4;
  --text-color: #c3cee3;
  --ignored-color: #ab79c7;
  --parameters-color: #f78c6c;
  --hoverColor: #0000000f;
}
html,
:host-context(html) {
  font-family: Roboto;
  font-weight: 400;
  --accent-color: var(--accent1) !important;
  --accent-fg-color: var(--accent1) !important;
  --accent-color-hover: var(--accentAlpha) !important;
  --toolbar-bg-color: var(--darkerBg) !important;
  --toolbar-hover-bg-color: var(--highlight) !important;
  --selection-fg-color: var(--selFg) !important;
  --selection-bg-color: var(--selBg) !important;
  --selection-inactive-fg-color: var(--foreground) !important;
  --selection-inactive-bg-color: var(--lighterBg) !important;
  --tab-selected-fg-color: var(--selFg) !important;
  --tab-selected-bg-color: var(--highlight) !important;
  --drop-shadow: 0 0 0 1px rgba(0, 0, 0, 0.23), 0 2px 4px 2px rgba(0, 0, 0, 0.2),
    0 2px 6px 2px rgba(0, 0, 0, 0.1) !important;
  --divider-color: var(--border) !important;
  --divider-border: 1px solid var(--border) !important;
  --focus-bg-color: var(--active) !important;
  --focus-ring-active-shadow: 0 0 0 1px var(--accent1) !important;
  --focus-ring-inactive-shadow: 0 0 0 1px var(--active) !important;
  --editor-selection-bg-color: var(--selBg) !important;
  --editor-selection-inactive-bg-color: var(--selBgAlpha) !important;
  --message-border-color: var(--border) !important;
}
html .tree-outline li.property,
:host-context(html) .tree-outline li.property {
  color: var(--attribute-name-color);
}
html .ax-name,
:host-context(html) .ax-name {
  color: var(--var-color);
}
html .ax-value-string,
:host-context(html) .ax-value-string {
  color: var(--string-color);
}
html .ax-breadcrumbs .ax-node::before,
:host-context(html) .ax-breadcrumbs .ax-node::before {
  background-color: var(--foreground);
}
html .ax-breadcrumbs .ax-node::before:hover,
:host-context(html) .ax-breadcrumbs .ax-node::before:hover {
  background-color: var(--accent1);
}
html .ax-breadcrumbs .ax-node.hovered:not(.inspected) .selection,
html .ax-breadcrumbs .ax-node.preselected:not(.inspected) .selection,
:host-context(html) .ax-breadcrumbs .ax-node.hovered:not(.inspected) .selection,
:host-context(html)
  .ax-breadcrumbs
  .ax-node.preselected:not(.inspected)
  .selection {
  background-color: var(--tree);
}
html .ax-breadcrumbs .ax-node.preselected:not(.inspected):focus .selection,
:host-context(html)
  .ax-breadcrumbs
  .ax-node.preselected:not(.inspected):focus
  .selection {
  border-top-color: var(--tree);
  border-right-color: var(--tree);
  border-bottom-color: var(--tree);
  border-left-color: var(--tree);
}
html .ax-breadcrumbs .ax-node.inspected .selection,
:host-context(html) .ax-breadcrumbs .ax-node.inspected .selection {
  background-color: var(--highlight);
}
html .ax-breadcrumbs .ax-node.inspected:focus .selection,
:host-context(html) .ax-breadcrumbs .ax-node.inspected:focus .selection {
  background-color: var(--selBg);
}
html .ax-breadcrumbs .ax-node.parent.inspected:focus::before,
:host-context(html) .ax-breadcrumbs .ax-node.parent.inspected:focus::before {
  background-color: var(--highlight);
}
html .ax-breadcrumbs .ax-node.inspected:focus,
:host-context(html) .ax-breadcrumbs .ax-node.inspected:focus {
  color: var(--selFg);
}
html .ax-breadcrumbs .ax-readable-string,
:host-context(html) .ax-breadcrumbs .ax-readable-string {
  color: var(--string-color);
}
html .ax-breadcrumbs .ax-internal-role,
:host-context(html) .ax-breadcrumbs .ax-internal-role {
  color: var(--number-color);
}
html .animation-node-row,
:host-context(html) .animation-node-row {
  border-bottom-color: var(--border);
}
html .animation-node-description,
:host-context(html) .animation-node-description {
  border-bottom-color: var(--active);
  background-color: var(--background);
}
html circle.animation-keyframe-point,
:host-context(html) circle.animation-keyframe-point {
  fill: var(--foreground);
}
html .animation-name,
:host-context(html) .animation-name {
  color: var(--foreground);
}
html .animation-timeline-toolbar-container,
:host-context(html) .animation-timeline-toolbar-container {
  background-color: var(--contrast);
}
html .animation-timeline-header,
:host-context(html) .animation-timeline-header {
  border-bottom-color: var(--active);
}
html .animation-timeline-header::after,
:host-context(html) .animation-timeline-header::after {
  background-color: var(--background);
  border-right-color: var(--border);
}
html .animation-timeline-buffer,
html .animation-timeline-buffer-hint,
:host-context(html) .animation-timeline-buffer,
:host-context(html) .animation-timeline-buffer-hint {
  border-bottom-color: var(--border);
}
html .animation-time-overlay,
:host-context(html) .animation-time-overlay {
  background-color: #fff;
}
html .animation-scrubber,
:host-context(html) .animation-scrubber {
  border-left-color: var(--accent1);
}
html .animation-scrubber-line,
:host-context(html) .animation-scrubber-line {
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 5px,
    var(--accent1) 5px,
    var(--accent1) 6px,
    rgba(255, 255, 255, 0) 6px
  );
}
html .animation-scrubber-head,
:host-context(html) .animation-scrubber-head {
  background-color: var(--accent1);
}
html rect.animation-timeline-grid-line,
:host-context(html) rect.animation-timeline-grid-line {
  fill: var(--accent2);
}
html text.animation-timeline-grid-label,
:host-context(html) text.animation-timeline-grid-label {
  fill: var(--foreground);
}
html .animation-node-row.animation-node-selected,
:host-context(html) .animation-node-row.animation-node-selected {
  background-color: var(--tree);
}
html .animation-node-selected > .animation-node-description,
:host-context(html) .animation-node-selected > .animation-node-description {
  background-color: var(--selBg);
}
html .animation-buffer-preview,
:host-context(html) .animation-buffer-preview {
  background-color: var(--toolbar-bg-color);
}
html .animation-buffer-preview-animation,
:host-context(html) .animation-buffer-preview-animation {
  background-color: var(--second);
  border-right-color: var(--active);
}
html .animation-buffer-preview:not(.selected):hover,
:host-context(html) .animation-buffer-preview:not(.selected):hover {
  background-color: var(--highlight);
}
html .animation-buffer-preview.selected,
:host-context(html) .animation-buffer-preview.selected {
  background-color: var(--selBg);
}
html .animation-paused,
:host-context(html) .animation-paused {
  background-color: rgba(var(--highlight), 0.5);
}
html .animation-paused::after,
html .animation-paused::before,
:host-context(html) .animation-paused::after,
:host-context(html) .animation-paused::before {
  background-color: var(--background);
  border-top-color: var(--border);
  border-right-color: var(--border);
  border-bottom-color: var(--border);
  border-left-color: var(--border);
}
html .animation-buffer-preview.selected > svg > line,
:host-context(html) .animation-buffer-preview.selected > svg > line {
  stroke: var(--selFg) !important;
}
html .animation-playback-rate-button,
:host-context(html) .animation-playback-rate-button {
  background-color: var(--background);
  border-top-color: var(--button);
  border-right-color: var(--button);
  border-bottom-color: var(--button);
  border-left-color: var(--button);
  color: var(--primary);
}
html .animation-playback-rate-button:not(.selected):hover,
:host-context(html) .animation-playback-rate-button:not(.selected):hover {
  background-color: var(--highlight);
}
html .animation-playback-rate-button.selected,
:host-context(html) .animation-playback-rate-button.selected {
  color: var(--selFg);
  background-color: var(--accent1);
}
html .animation-playback-rate-button.selected:first-child,
:host-context(html) .animation-playback-rate-button.selected:first-child {
  color: var(--selFg);
  background-color: var(--accent1);
}

.tabbed-pane-header-tab {
  transition: all 0.3s;
}

.tabbed-pane-header-tab,
.tabbed-pane-header-tab.selected {
  border-left: 0 !important;
  border-right: 0 !important;
}

.tabbed-pane-header-tab:hover {
  border-radius: 50px;
  background-color: var(--hoverColor) !important;
  opacity: 0.6;
}

.tabbed-pane-header-tab.selected {
  border-radius: 50px;
  background-color: var(--hoverColor) !important;
}

.tooltip {
  background: hsl(0, 0%, 18%) !important;
  color: white !important;
}

.tooltip-shortcut {
  opacity: 0.7;
  color: white !important;
}

.console-toolbar-container > .toolbar {
  border-bottom: 0.5px solid var(--divider-color) !important;
}

.primary-button {
  transition: 0.3s all;
}

li[role="treeitem"].selected {
  background-color: var(--divider-color) !important;
  border-radius: 50px;
  color: rgb(24, 24, 24) !important;
}

li[role="treeitem"].force-white-icons {
  background-color: black !important;
}

.largeicon-node-search {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="381" height="379" viewBox="0 0 381 379"><image x="2" y="2" width="376" height="376" xlink:href="data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAXgAAAF4CAQAAAD0lCotAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QAAKqNIzIAAAAJcEhZcwAALiMAAC4jAXilP3YAAAAHdElNRQfjCQcVIi/aTYOmAAAHHUlEQVR42u3dMVYbVxiG4R/iIuWkS4l3IK/AoksH2YHdpfPJCnxcuSRZQbID4zIVcpkK7cDswCrTkUIQhCOwQBpdNN/z0Nmgc6XznsvPaGa0V5txcPUFm3dx9bUBe2v+/LjG9bJG1bV+TRi8WU3rU01qss6DPDb4ro7rqI5bvwZEOq2PdVqzx/zoY4If1Zs6tqfT1KxO6/eaPvTHHhr8uN7WuPVzhSuTevewEechwY/qROw8OZP6dfWd/rsVv6+r9/WnozA8QQf1S3X1d/2zyjevtsOP64OZnSftol6vMtzsr/BQJ3Umd564gzqrk29/27d2+K7OatT6ucCKpnV4/+HK+4Mf2dvZMbM6vO9P2PtGmrHc2Tldnd13LPHu4F/JnZ3U1Vm9uus/7xppxnXWet2whsPlx2yWB292Z9fdMcsvC76rz3Jn583q+f+P2Cyb4e3uDEG3bCz//6kFJ076ZSB+rK7+uv1PX480/lhlWL764/V28F2dO0GMQbmoF4uT/O2R5n391Hp9sFFdfb841izu8KM6b7066MGLmwOUi0dpVjjXDHbQQtk3wY9dzcRALbR9E/zb1quC3vxX9/UMb35n2K7m+Osd/k3r9UCvrgqf7/DOnmHors6sme/wbqvE0HXzU2bmwR+1Xg307qjqeqS5bL0W2IK9+Q4/br0O2Iqx4Ekyngf/svU6YCtezmf4L47REGFWP+zXgdwJ0dXBvgs+CCJ4ogieKAer3C4bBkPwRBE8UZ718qgP+JApuMOoj6us+wl+ut6nJUNfjDREETxRBE8UwRNF8EQRPFEETxTBE0XwRBE8UQRPFMETRfBEETxRBE8UwRNF8EQRPFEETxTBE0XwRBE8UQRPFMETRfBEETxRBE8UwRNF8EQRPFEETxTBE0XwRBE8UQRPFMETRfBEETxRBE8UwRNF8EQRPFEETxTBE0XwRBE8UQRPFMETRfBEETxRBE8UwRNF8EQRPFEETxTBE0XwRBE8UQRPFMETRfBEETxRBE8UwRNF8EQRPFEETxTBE0XwRBE8UQRPFMETRfBEETxRBE8UwRNF8EQRPFEETxTBE0XwRBE8UQRPFMETRfBEETxRBE8UwRNF8EQRPFEETxTBE0XwRBE8UQRPFMETRfBEETxRBE8UwRNF8EQRPFEETxTBE0XwRBE8UQRPFMETRfBEETxRBE8UwRNF8EQRPFEETxTBE0XwRBE8UQRPFMETRfBEETxRBE8UwRNF8EQRPFEETxTBE0XwRBE8UQRPFMETRfBEETxRBE8UwRNF8EQRPFEETxTBE0XwRBE8UQRPFMETRfBEETxRBE8UwRNF8EQRPFGetV5AnsvWC9gVk9rb/IPa4YkieKIIniiCJ4rgiSJ4ogieKIIniuCJIniiCJ4ogieK4IkieKIIniiCJ4rgiSJ4ogieKIIniuCJIniiCJ4ogieK4IkieKIIniiCJ4rgiSJ4ogieKIIniuCJIniiCJ4ogieK4IkieKIIniiCJ4rgiSJ4ogieKIIniuCJIniiCJ4ogieK4IkieKIIniiCJ4rgiSJ4ogieKIIniuCJIniiCJ4ogieK4IkieKIIniiCJ4rgiSJ4ogieKIIniuCJIniiCJ4ogieK4IkieKIIniiCJ4rgiSJ4ogieKIIniuCJIniiCJ4ogieK4IkieKIIniiCJ4rgiSJ4ogieKIIniuCJIniiCJ4ogieK4IkieKIIniiCJ4rgiSJ4ogieKIIniuCJIniiCJ4ogieK4IkieKIIniiCJ4rgiSJ4ogieKIIniuCJIniiCJ4ogieK4IkieKIIniiCJ4rgiSJ4ogieKIIniuCJIniiCJ4ogieK4IkieKI8a72A3XLZegGsyQ5PFMETRfBE6WeGH7V+Wr2ZtF4A6+kn+JPWT6svext4jMtNPAiPZKQhiuCJInii7NdF6yXA9gieKIInyl5Vfamu9TKSOCzZ0n5VTVsvArZlv6o+tV4EbMt+ebucIPN50mneW2SGb2n+xtNp62XAdsyD/9h6GbAd81+vXX12aHJbjDQtzXf4maGGDNe7zajOWy8lhR2+peuzJacOTpLg5vTgd62XAv27CX5ij2f4FudJc/xWmOFbWrziaVq/tV4O9Ov2btPVeR20XtLQ2eFbun1N66xet14Q9Onri7gnxhqGbNmv1/MB3znsCTDStLTsxXdmTa8E39Ky+9LM6rBmrRcGfVh+I6Zp/dx6YdCHu+48NnG8hiG6b54c1wez/OaZ4Vu6/8Uf1ZnkN03wLd1/M9VpPXfXGobkW3cPntULb0UxHKv9eh3XH86x2RQjTUur3R9+Yp9nGB6y24zqpMatF7z77PAtPeQTQKZ1WIeui2KXPWa3GdWbOna48rHs8C099sXv6riO6rj18neR4Fta98Uf17he1sh+vzrBt7TuBxNf3+vg4OoLnrR/Ab/YlXjoJB4yAAAAAElFTkSuQmCC"/><image x="335" y="196" width="1" height="8" xlink:href="data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAICAQAAACSE13KAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QAAKqNIzIAAAAJcEhZcwAALiMAAC4jAXilP3YAAAAHdElNRQfjCQcVIi/aTYOmAAAAE0lEQVQI12NgsGNiYGJiYEBF/wAHOAFNiUhnxgAAAABJRU5ErkJggg=="/><image x="377" y="196" width="1" height="8" xlink:href="data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAICAQAAACSE13KAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QAAKqNIzIAAAAJcEhZcwAALiMAAC4jAXilP3YAAAAHdElNRQfjCQcVIi/aTYOmAAAAGUlEQVQI12NgqGBi4GJi+MfEwABDTEwM3wAcrAKHuLeuxwAAAABJRU5ErkJggg=="/><image x="187" y="377" width="3" height="1" xlink:href="data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAABCAQAAACx6dw/AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QAAKqNIzIAAAAJcEhZcwAALiMAAC4jAXilP3YAAAAHdElNRQfjCQcVIi/aTYOmAAAAD0lEQVQI12NkKGfgY/gEAAN9AXlx11vDAAAAAElFTkSuQmCC"/><image id="Rounded_Rectangle_4" data-name="Rounded Rectangle 4" x="164" y="336" width="40" height="41" xlink:href="data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAApCAQAAADtq6NDAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QAAKqNIzIAAAAJcEhZcwAALiMAAC4jAXilP3YAAAAHdElNRQfjCQcVIi/aTYOmAAABdElEQVRIx7XXu2oCURCA4d+DgnZpbIKVVQwkT2ACuYh1Lg9g8hJa2nlJ3sbEzsoniNtbiEkEBRdcDUbwpJAFld11L5OZ/mN2z5xhDjhHhhoDtEsOqJHBdySpM2HJ2hVcs2RCnaQf7gqDuSu1nXMMrg9xZb59YXaOKHtxDaaBOI1mSsONqzILzGk0M6pOXAkzFKfRmJT2uROGoTmNZkhuF3yLxGk07W3uPjKn0TzaXAJDBDRIbMCiCKfRFDdgSwxsQYwjvkj5v+ie8cOxIi/GQYq84lKMA7hQnImC54qsKJhVpEXBdIxfux1FYhVDi1aIYiXqrRSWKGgpxqLgWNEXBfsKQxTsKbqiYPcfpo1JR6y+DiZAQWzAFjZunA8RrkfcLvVOBHzY/vr3yFx793fmIm4On5zun9BTpN3m2enQq1ihOMt5+wJ4DbUfvni1ZoVRIG5E5VC332Cw8IUtMLj1c4FSNH29AppBZkCGukcjDam7vVP+AFws4UOEWUhEAAAAAElFTkSuQmCC"/><image x="153" y="335" width="37" height="1" xlink:href="data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAACUAAAABCAQAAADzqq+oAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QAAKqNIzIAAAAJcEhZcwAALiMAAC4jAXilP3YAAAAHdElNRQfjCQcVIi/aTYOmAAAAIUlEQVQI12NksGNgZmBhYGL4w/CXgRzAzMDC8I/hD8NfAJwQBUCuqgoNAAAAAElFTkSuQmCC"/><rect id="Rounded_Rectangle_3" data-name="Rounded Rectangle 3" x="336" y="155" width="41" height="69" rx="20.5" ry="20.5"/><image x="217" y="199" width="132" height="147" xlink:href="data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAIQAAACTCAQAAADlnnkPAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QAAKqNIzIAAAAJcEhZcwAALiMAAC4jAXilP3YAAAAHdElNRQfjCQcVIi/aTYOmAAAG5klEQVR42u2da2wUVRSAv7K8QwERQSIPCxgJiGAQIj5KIhCDUWmMQFBDCDFSHz/EB2AC/ECiRhNNfAVjgqghiiaKCREpGKdb5FEqFmyRKuUlCBSs0Fjo+/pjKVS63Z07c++cmcJ3/rX7OOebs7sz9+zMQoIMrnBiQDduZTYD2SudjCwZzGAVDhU4jJVORlbEixxEoVA08iHXSSckx4ILGhJxhgV0kk5Jhjn/E6FQ7GOadFISDGglQqH4jpulEwue3UlV1PEWvaRTC5Y3k4pQKCp4kg7S6QXHlDZFKBTFZEsnGBRdOZdShWItN0onGQwb0ohQnGc53aXTtM+CtCIUiqM82t6PSka5EqFQbOV26WTt8qdrFU18zPXS6dpjlWsRCkUVi+ginbIdZmmJUCj2M106aRtcS5O2CsUmRkknbp5CDyIUDbxLH+nUzfKKJxEKRSXP0FE6fXNkexahUJQwRboAU3SkypcKxTqGSRdhhnU+RShqeZ1M6TL887RvEQrFCeZG/dB9mBERCkUhd0oX449yYyoUa7hBuhzvfGBQhKKapXSTLskbOUZFKBSHmCFdlBd60mBchSI/ijO0uAURiRlaP+nS9FhqRYQicjO0CdZEKBRl0ZmhdeBvqyoiNENba1mEoj4aM7R51kUoFBXMD/uO+KBARCgiMEMrDUyF4stwzNBiSf96E3cElsEoculCIfXSKpIxLcCOSMRRHgvjDK07NYGrUGxlvHThrdksIELRxGqpGVqsjb/3Z6pANhmMJZcmimiU0dGaMSId0Rzl5EgLaCaD46IqFJu4RVpCgk+FRSgaeC8MM7THxUUoFJU8Kz1D6ycuoTlKRN64W7BLXMGlsD5Di6X4XxZ3y26JFowgl0x2UCfx5PeK98HlITRD60y1eOmtY6fEDG29eNnJYw0DTZcaS/nfviFdah1NLjF20hDUE44Q3/ap4hAzg3N/WLzc1GFshpbuPTgvOOeeyGZXMDO0R8S3uZs4y/O2Z2jX0Cheprso4367KraJl+g+NnifocXS3mIwk+yaNshwcunDDmpsPPhd4ttZNyqY72IDaxPjjHhp+lFso4+/Fi/LW3ylM0Nz00K9ecC83QAYSS5dTc7QssS3rZ84ZnKG9rt4Of5iKxPSlehumWOjKaNCTGR7uhmau4+ZTsyWrsUniRmaYqe/GVoP6sTb20z4nqE54iWYi83JZmhul0LDfjiuw2SKed/rDG2c+HY0HR5naB04JZ66+Si9NENz+9JoYpNAE9tmJHl8m+gL9+OS9vQu0ZKH+OGqiATZfKIj4i9+lc7YGlPJ0lnAGM5E6YwtkUmVzkg16kccqRiiIyJuZy0wFBzUEVFDXDpfS1SzUe/bBu31xbGCbXp3GC2+L2gjFnvZ1T4mnrbZ+JdZiTUZXRd5zJXpXsNUUUCcOEXN37G40kT8Q5wtOPxy+UqV7vpuXyrCeF5FWk5TQByHPTQlv4F+UUWMk65Kg5NswcGhFJX6hvrvlxsjIeI4cRwc9rm9g35HTMKRrjIFx3BwcNive0d9EZ2opId0va04fEHAIa8PoP/SqOdHHpSu+yLlODjEOeL3gbycApAXAhFlODhs4aipB/QiQvKIoxSHAvI5YfqBve0THCAr0PIVe8ingHxOBfq8aVkZ0JFAI0W8TU4YTmhKzsPWFZTyBpPDf2mFXlYuydPymDDw69F4Ow3kLNutZvUqFUGL8Moyi/1wUuL6215PDLI57lnOueBFeCVGpaV++EPmEk1eO6IxMTG0wMvhvKRG2zxhpR8Ko7fsM9iKiOh8Ab4FvxnXsF6uGD+nk5r+5FAsvioCYDUlciL80J1agy+L8+ZPatXBT0ec4yeDmbxjbpEleBYZ64dKeksX44fbjIl4QboUf2Rw0oiGw/I/WuLvagzK0CfHEmqlRfhljoF+2B3261q6ob8BEfdJF2GGYp8abB3FauK/Kf2+SyyUVmCKyb764XPp9M3RJe0PIrYddQyVTr8Z/y+NWh9fE1jJAWkBJnnOYz9U0Vc6dbOM9ChiiXTi5jniQcPxcP16qJl9Oi+nOS2L0vTCLTO1+2Gf9FUq7dBH+5I8OdIp22KHlgaTK1uGMHXcp/d1onazW92aezT6YZ10sjbpyFmXGhoYIZ2sXb5xKeIj6URt85QrDdUMkE7UNkNdiVghnWYQ7E+r4TQ9pZNsC5PLpuk/QpdTJV1wEExP0w/ldJZOMRgyqU8pIupXLtIg1Q8i/hzuLwWZHa2kWtFeiHL9OJFnfJv98L10asHSgdNJNTQxRjq1oPkiqYjPpNMKnjFJeqKGIdJpSTDvMhU1Ufl1TxsqSi5q2Msg6XTcYeezfQgvMZQGyniNSukS3fEf6knGK8/6DOkAAAAASUVORK5CYII="/></svg>')
    no-repeat center !important;
  --spritesheet-position: none !important;
  -webkit-mask: none !important;
}

::-webkit-scrollbar {
  width: 10px;
  margin-left: 10px;
}

::-webkit-scrollbar-track {
}

::-webkit-scrollbar-thumb {
  background: #9a9a9a;
}

::-webkit-scrollbar-thumb:hover {
  background: #555555;
}

.widget {
  border-radius: 5px;
  background: white !important;
}

.filtered-list-widget {
  padding: 5px !important;
}

.tag {
  padding: 1px 6px !important;
  border-radius: 20px !important;
}

.not-found-text {
  color: #5b5b5b !important;
  background: white !important;
}
